@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 224 71.4% 4.1%;

      --card: 0 0% 100%;
      --card-foreground: 224 71.4% 4.1%;

      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;

      --primary: 220.9 39.3% 11%;
      --primary-foreground: 210 20% 98%;

      --secondary: 220 14.3% 95.9%;
      --secondary-foreground: 220.9 39.3% 11%;

      --muted: 220 14.3% 95.9%;
      --muted-foreground: 220 8.9% 46.1%;

      --accent: 220 14.3% 95.9%;
      --accent-foreground: 220.9 39.3% 11%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;

      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --ring: 224 71.4% 4.1%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 224 71.4% 4.1%;
      --foreground: 210 20% 98%;

      --card: 224 71.4% 4.1%;
      --card-foreground: 210 20% 98%;

      --popover: 224 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;

      --primary: 210 20% 98%;
      --primary-foreground: 220.9 39.3% 11%;

      --secondary: 215 27.9% 16.9%;
      --secondary-foreground: 210 20% 98%;

      --muted: 215 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;

      --accent: 215 27.9% 16.9%;
      --accent-foreground: 210 20% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;

      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --ring: 216 12.2% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
  .nav-link:hover,
  .nav-link:focus{
    transform: translateX(0.20rem);
  }
.burger {
    animation: dance 1.5s infinite; /* Adjust the duration as needed */
}

@keyframes dance {
    0%, 100% {
        transform: translateY(0); /* Starting and ending position */
    }
    50% {
        transform: translateY(-0.2rem); /* Move up very slightly */
    }
}
.input-box{
  position: relative;
  width: 100%;
}
.input-box input,
.input-box textarea{
  width: 100%;
  padding: 2vh;
  border: 2px solid rgb(67,56,202);
  background-color: rgb(52,53,60);
  border-radius: 10px;
  color: white;
  font-size: 1em;
  outline: none;
}
.input-box textarea{
  padding: 6vh;
}
.input-box span {
 position: absolute;
 left: 0;
 padding: 2vh;
 pointer-events: none;
 font-size: 1em;
 color: rgb(67,56,202);
 text-transform: uppercase;
 transition: 0.5s;
}
.input-box input:valid ~ span, 
.input-box input:focus ~ span, 
.input-box textarea:valid ~ span,
.input-box textarea:focus ~ span 
{
  transform: translateX(3vh) translateY(-7px);
  font-size: 0.70em;
  padding: 0 5px;
  background-color: rgb(52,53,60);
  letter-spacing: 0.2em;
  transition: 0.5s;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:valid {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgb(52, 53, 60) inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media (min-width: 1024px) { /* lg breakpoint for larger screens */
  .input-box input,
  .input-box textarea {
    background-color: rgb(42,42,49); /* Darker background for larger screens */
    color: white; /* Light text for better contrast on dark background */
  }
  .input-box input:valid ~ span, 
.input-box input:focus ~ span, 
.input-box textarea:valid ~ span,
.input-box textarea:focus ~ span 
{
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 5px;
  background-color: rgb(42,42,49);
  letter-spacing: 0.2em;
  transition: 0.5s;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:valid {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgb(42,42,49) inset;
  transition: background-color 5000s ease-in-out 0s;
}

}